body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: slategrey;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

form {
    width: 100%;
}

#userInputWord {
    max-width: 20%;
    min-width: 150px;
}